<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?v={{ app_version }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="{{ url_for('static', filename='script.js') }}?v={{ app_version }}"></script>
    <title>Champaign Coffee - Coffee Menu</title>
    <script>
        function toggleDetails(id) {
		      const details = document.getElementById(`details-${id}`);
				const icon = document.getElementById(`icon-${id}`);
				if (details.style.display === 'none') {
				    details.style.display = 'block';
				    icon.innerText = '-';
			   } else {
				    details.style.display = 'none';
				    icon.innerText = '+';
		      }
		  }
		  function redirectToShop(shop_id) {
            window.location.href = "{{ url_for('coffee_shops') }}" + "?shop_id=" + shop_id;
    	  } 
		  window.addEventListener('DOMContentLoaded', (event) => {
		      const shop_id = "{{ shop_id }}";
				if (shop_id) {
				    toggleDetails(shop_id);
				}
		  });
    </script>
</head>
<body>
    <div class="topnav">
        <img src="static/logo.png?v=1.0" alt="Coffee logo" style="float:left; width: 80px; height:65px;">
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('discover')}}">Discover</a>
        <a href="{{ url_for('coffee_shops') }}">Coffee Shops</a>
        <a class="active" href="{{ url_for('browse_coffees') }}">Browse Coffees</a>
        <a href="{{url_for('ratings')}}">Ratings</a>
        <a href="{{ url_for('feedback') }}">Feedback</a>
    </div>
    <center><h2>Browse Coffees</h2></center>
    <div class="coffee-shops">
        {% for item, shops in coffee_items %}
        <div class="coffee-shop">
            <h3 onclick="toggleDetails('{{ item.id }}')">{{ item.name }} <span class="expand-icon" id="icon-{{ item.id }}">+</span></h3>
            <div class="coffee-shop-details" id="details-{{ item.id }}" style="display: none;">
                <h4>Available at:</h4>
                <ul>
                    {% for shop in shops %}
                    <li><a href="{{ url_for('coffee_shops', shop_id=shop.coffee_shop.id) }}" onclick="event.preventDefault(); redirectToShop('{{ shop.coffee_shop.id }}')">{{ shop.coffee_shop.name }}</a> - Location: {{ shop.coffee_shop.location }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
