<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?v={{ app_version }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}?v={{ app_version }}"></script>
	<title>Champaign Coffee</title>
</head>
<body>
	<!-- HTML code -->
	<div class="topnav">
		<img src="static/logo.png?v=1.0" alt="Coffee logo" style="float:left; width: 80px; height:65px;">
		<a href="{{ url_for('home') }}">Home</a>
		<a class="active" href="{{ url_for('discover') }}">Discover</a>
		<a href="{{url_for('coffee_shops')}}">Coffee Shops</a>
		<a href="{{url_for('browse_coffees')}}">Browse Coffees</a>
		<a href="{{ url_for('ratings') }}">Ratings</a>
		<a href="{{ url_for('feedback') }}">Feedback</a>
	</div>

    <center><h1>Discover Your Perfect Coffee Match</h1>
		<h2>Fill Out Our Form!</h2></center>
		<center><form class = "form-border" method="POST" action="{{ url_for('discover') }}">
			<p>Question 1: Preferred type of coffee? </p>
			<input type="radio" name="coffee-preference1" value="Tea">Tea<br>
			<input type="radio" name="coffee-preference1" value="Latte">Latte<br>
			<input type="radio" name="coffee-preference1" value="Mocha">Mocha<br>
			<input type="radio" name="coffee-preference1" value="Espresso">Espresso<br>
			<input type="radio" name="coffee-preference1" value="Americano">Americano<br>
			<input type="radio" name="coffee-preference1" value="Cappucino">Cappucino<br>
			<input type="radio" name="coffee-preference1" value="Macchiato">Macchiato<br>
			<input type="radio" name="coffee-preference1" value="Frappe">Frappe<br>
			<input type="radio" name="coffee-preference1" value="Other">Other<br>
			
			<p>Question 2: What is your desired price? </p>
			<input type="text" name="min-price" placeholder="Minimum price"><br>
			<input type="text" name="max-price" placeholder="Maximum price"><br>
			
			<p>Question 3: How much does proximity to campus buildings/departments matter?</p>
			<input type="radio" name="coffee-preference3" value="0">Does not matter<br>
			<input type="radio" name="coffee-preference3" value="1">Matters a little<br>
			<input type="radio" name="coffee-preference3" value="2">Matters a lot<br>
			
			<p>Question 4: How much do ratings matter? </p>
			<input type="radio" name="coffee-preference4" value="0">Does not matter<br>
			<input type="radio" name="coffee-preference4" value="1">Matters a little<br>
			<input type="radio" name="coffee-preference4" value="2">Matters a lot<br>
			
			<br><br>
			<input type="submit" value="Submit" class = "submit"></center>
		  </form>	
  {% if result %}
  <div class="coffee-result" style="text-align: center;">
    <h3>Recommended Coffee:</h3>
    <p>Coffee Shop: {{ result.coffee_shop }}</p>
    <p>Item: {{ result.item }}</p>
    <p>Price: ${{ result.price }}</p>
    <p>Location: {{ result.location }}</p>
  </div>
  {% endif %}
</body>
</html>