<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?v={{ app_version }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="{{ url_for('static', filename='script.js') }}?v={{ app_version }}"></script>
	<title>Champaign Coffee</title>
</head>
<body>
	<!-- HTML code -->
	<div class="topnav">
		<img src="static/logo.png?v=1.0" alt="Coffee logo" style="float:left; width: 80px; height:65px;">
		<a class="active" href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('discover') }}">Discover</a>
		<a href="{{ url_for('ratings') }}">Ratings</a>
		<a href="{{ url_for('feedback') }}">Feedback</a>
	</div>
	<div class = "center-text">
    <center><h1>Champaign Coffee</h1></center>
    <center><p>Find your next cup of coffee in Champaign</p></center>
	<center><img src = "static/coffee.png" style="width: 400px; height:350px;"></img></center>
    <center><a href="{{ url_for('discover') }}"><button id="find-my-coffee">Discover Coffee</button></a></center>
	
</div>
</body>
</html>
