<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}?v={{ app_version }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="{{ url_for('static', filename='script.js') }}?v={{ app_version }}"></script>
	<title>Champaign Coffee</title>
</head>
<body>
	<!-- HTML code -->
	<div class="topnav">
		<img src="/static/logo.png?v=1.0" alt="Coffee logo" style="float:left; width: 80px; height:65px;">
		<a href = "{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('discover') }}">Discover</a>
		<a class="active" href="{{ url_for('ratings') }}">Ratings</a>
		<a href="{{ url_for('feedback') }}">Feedback</a>
	</div>
    <center><h2>Select coffee shop you would like to rate</h2></center>
	<form method="POST" action="{{ url_for('submit_rating') }}">
	<center><div class="dropdown">
		<select name="coffee_shop">
			<option value="Brew Lab">Brew Lab</option>
			<option value="Cafe Bene">Cafe Bene</option>
			<option value="Cafe Kopi">Cafe Kopi</option>
			<option value="Espresso Royale">Espresso Royale</option>
		</select>
	</div>
	<label for="rating">Rating (out of 5):</label>
	<input type="number" id="rating" name="rating" min="1" max="5">
	<br><br>
	<textarea id="feedback" name="feedback" style="width: 500px; height: 200px;" placeholder="Write your review here"></textarea>
	<br>
	<input type="submit" value="Submit" class = "submit"></center>
	</form>
	{% if submitted %}
       <center><p>Your rating was submitted. Thank you!</p></center>
	{% endif %}
</body>
</html>