<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
	<title>Champaign Coffee</title>
</head>
<body>
	<!-- HTML code -->
	<div class="topnav">
		<img src="static/logo.png" alt="Coffee logo" style="float:left; width: 80px; height:65px;">
		<a href = "{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('discover') }}">Discover</a>
		<a class="active" href="{{ url_for('ratings') }}">Ratings</a>
		<a href="{{ url_for('feedback') }}">Feedback</a>
	</div>
    <center><h2>Select coffee shop you would like to rate</h2></center>
	<center><div class="dropdown">
		<select>
			<option value="brew-lab">Brew Lab</option>
			<option value="cafe-bene">Cafe Bene</option>
			<option value="cafe-kopi">Cafe Kopi</option>
			<option value="espresso-royale">Espresso Royale</option>
		</select>
	</div></center>
</body>
</html>